
name: Scrape WordPress

on:
  workflow_dispatch:
  schedule:
    - cron: '0 21 11 11 *'

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        run: Rscript -e "install.packages('rvest')"

      - name: Run scraper
        run: Rscript scripts/scrape-wordpress.R

