
name: Scrape WordPress

on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * 0'  # 9 AM UTC = 3 AM CST (4 AM CDT)

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
  
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install R packages
        run: Rscript -e "install.packages(c('httr','rvest','dplyr'))"

      - name: Run scraper
        run: Rscript new_scraper.R

